# Mini Project I

A mini-project is where you will begin to develop code and analysis to explore a data set and address questions. The format differs from a weekly lab in that you will develop your own notebook below.  **There will be no automatic test of your answers.** As a budding data scientist you need to develop the habit of checking your own work.

You will create all the notebook code and **use extensive markdown to document** the process and your observations. This can be challenging at first but it is the way to trully understand the code development process and build confidence using code to analysis data.

# Olympics Data mini-project
## Overview
In celebration of the Olympic spirit we will analyze trends in a data set which spans the from the 1896 Athens games to Rio in 2016. With this data we will explore trends in medals awarded, sports, and countries, as well as any host country advantage. The dataset is from Kaggle (https://www.kaggle.com ), a data science dataset, coding, and competition site. The mini-project represents your first chance to try out your coding and data skills to address specific questions without template code. Look to your previous labs and our work in class for ideas.

(Data source:
[Kaggle dataset](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results))

Background Resources:
- Data Tables (Inferential Thinking 6.1-6.4) 
- Visualization (Inferential Thinking 7.1, 7.2)
- Cross-classifying (Inferential Thinking 8.3)

### Initialization

In [ ]:
# Enter your name as a string
name = ...

In [1]:
# Extra Python functionality to import
from datascience import *  # datascience Table 
import EDS
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import os
user = os.getenv('JUPYTERHUB_USER')

### Data Set
Athletes: Olympic_Data/athlete_events.csv
Source: Kaggle https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results
#### Data Fields
1. ID - Unique number for each athlete
2. Name - Athlete's name
3. Sex-MorF
4. Age - Integer
5. Height - In centimeters
6. Weight - In kilograms
7. Team - Team name
8. NOC - National Olympic Committee 3-letter code
9. Games - Year and season
10. Year - Integer
11. Season - Summer or Winter
12. City - Host city
13. Sport - Sport
14. Event - Event
15. Medal - Gold, Silver, Bronze, or nan

We will limit our project to data from the Winter Olympics by using the where method [.where("Season","Winter") ] which leaves us with 18,923 individual athletes and 48,564 athlete/event datapoints (Many athletes compete in multiple events and/or over multiple Olympics).

In [2]:
datafile = "Olympic_Data/winter_athletes.csv"
athletes = Table.read_table(datafile).sort("Year",descending=True).where("Season","Winter")
athletes

ID   | Name                               | Sex  | Age  | Height | Weight | Team          | NOC  | Games       | Year | Season | City  | Sport            | Event                              | Medal
16   | Juhamatti Tapio Aaltonen           | M    | 28   | 184    | 85     | Finland       | FIN  | 2014 Winter | 2014 | Winter | Sochi | Ice Hockey       | Ice Hockey Men's Ice Hockey        | Bronze
126  | Forough Abbasi                     | F    | 20   | 164    | 58     | Iran          | IRI  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Slalom       | nan
145  | Jeremy Abbott                      | M    | 28   | 175    | 70     | United States | USA  | 2014 Winter | 2014 | Winter | Sochi | Figure Skating   | Figure Skating Men's Singles       | nan
145  | Jeremy Abbott                      | M    | 28   | 175    | 70     | United States | USA  | 2014 Winter | 2014 | Winter | Sochi | Figure Skating   | Figure Skating Mixed Team          | Bronze
463  | Agnese boltia                      | F    | 17   | 166    | 60     | Latvia        | LAT  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Super G      | nan
463  | Agnese boltia                      | F    | 17   | 166    | 60     | Latvia        | LAT  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Giant Slalom | nan
463  | Agnese boltia                      | F    | 17   | 166    | 60     | Latvia        | LAT  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Women's Slalom       | nan
532  | Iason Abramashvili                 | M    | 25   | 176    | 82     | Georgia       | GEO  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Men's Giant Slalom   | nan
532  | Iason Abramashvili                 | M    | 25   | 176    | 82     | Georgia       | GEO  | 2014 Winter | 2014 | Winter | Sochi | Alpine Skiing    | Alpine Skiing Men's Slalom         | nan
534  | Oleksandr Volodymyrovych Abramenko | M    | 25   | 180    | 82     | Ukraine       | UKR  | 2014 Winter | 2014 | Winter | Sochi | Freestyle Skiing | Freestyle Skiing Men's Aerials     | nan
... (48554 rows omitted)

#### Considerations
- Each observation is an athletes performance in a particular event for a particular year.
- `.group()` is a very useful Table method to group by Team, Year, Age, etc.
- Athletes can perform in multiple events and over multiple years
- `athletes.group("Name", np.unique)` Can provide unique athlete names and combine their efforts in a list. This can be a challenge for analysis of specific performances but givene a good count of total athletes, `athletes.group("Name", np.unique).num_rows`

In [3]:
athletes.group("Name", np.unique).num_rows

18923

In [4]:
athletes.num_rows

48564

Some athletes do not have an age listed do for analysis of age we will only use those with a reported and reasonable age.

In [5]:
age_athletes = athletes.where("Age",are.below(99)).where("Age",are.above(0))

## Mini-Project Questions to address
Now develop your project to address the questions below. You will be adding lines of code and markdown as needed below. Feel free to expand the project to explore ideas of interest.

1. What is the earliest year for a Winter Olympics in this dataset? Check this value [(https://olympics.com/en/olympic-games/olympic-results )](https://olympics.com/en/olympic-games/olympic-results ), does it fit the data?

2. Examine the distribution of the age of all Olympians with a histogram. What do you find?

3. Another way to get a view of this distribution of Olympian ages is a **five number summary** which includes the min, max, median, mean, and standard deviation. To get the **five number summary** (min, max, median, mean, and standard deviation) using np.min, np.max, np.median, np.mean, and np.std respectively on the corresponding column array. Below create a function to compute and display the five number summary given an argument of table name and column label.
   | Statistic| Description||
   |---|---|---|
   |**Measures of the central tendency of data**|
   |mean|sum of values divided by number of values, $\bar{x}$ | `np.array([1, 3, 6, 7, 8]).mean()` <br> $\bar{x}=$ 5|
   |median|middle value of set of data | median of `np.array([1, 3, 6, 7, 8])`  is 6|
   |**Measures of variability of data**|
   |variance| average difference <br>between data and the mean, $\sigma^2$|$\sigma^2 = \frac{\sum_i(x_i - \bar{x})^2}{n-1} $ <br>for population where $n$ is number of data points|
   |standard deviation|square root of variance|$\sigma$|

In [ ]:
def five_num_sum(table,column):
    nums=[]
    array = table.column(column)
    nums.append(np.min(array))
    ...
    ...
    ...
    nums.append(round(np.std(array),2)
    return nums

#### Group
In the next questions it will be very helpful to utilize the `.group` Table method. See [Inferential Thinking 8.3](https://inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html)<br>Follow the example below.

In [ ]:
IC_data = Table.read_table('Olympic_data/BenJerryData.csv')
IC_data

#### .group

Look at base ice creams

In [ ]:
IC_data.group('base ice cream')

#### .pivot

In [ ]:
IC_data.pivot('Flavor','fat (g)')

4. Since a given athlete can appear in multiple events, a better way to examine the age distribution of athletes is to group the data by name using a function such as np.average. i.e. `athletes.group("Name", np.average)`

5. What are the top ten countries in number of Gold, silver, bronze medals, and total medals? You should have four sets of top ten countries for each of the scenarios. Generate the **five number summary** for each medal type for all countries.
Hint: `.where("Medal",are.not_equal_to("nan"))` to get only medal winners. Consider how to create a column for the sum of the three medal categories.

6. What are the top 5 sports in terms of number of athletes? Is this what you expected?

7. Which sports (top 5) awarded the most medals in Lake Placid, New York (1980,
https://www.lakeplacid.com/do/activities/olympic-sites ).

**Challenge Question:** Does the host country team have an advantage? To get at this you may need to create another column in the athletes Table with the team name of the host country. Use a markdown cell to create a strategy to address this question. **This is the sort of research question that can emerge during your data exploration.**

In [7]:
athletes.group("City").show(20)

In [29]:
host_country = np.array(['France','Canada','France','Italy','Germany','France', 'Austria', 'United States','Norway','Japan','Norway','United States','Switzerland','Japan','Yugoslavia','Russia','United States', 'Italy', 'Canada'])

In [30]:
len(host_country)

19

In [31]:
host = Table().with_columns("City",athletes.group("City").column('City'),"Country",host_country)
host.show(20)

In [32]:
athletes=athletes.join("City",host)

In [33]:
athletes=athletes.with_columns("Host",athletes['Team']==athletes['Country'])
athletes

City        | ID   | Name                     | Sex  | Age  | Height | Weight | Team          | NOC  | Games       | Year | Season | Sport                | Event                                               | Medal | Country | Host  | Country_2
Albertville | 5    | Christine Jacoba Aaftink | F    | 25   | 185    | 82     | Netherlands   | NED  | 1992 Winter | 1992 | Winter | Speed Skating        | Speed Skating Women's 500 metres                    | nan   | France  | False | France
Albertville | 5    | Christine Jacoba Aaftink | F    | 25   | 185    | 82     | Netherlands   | NED  | 1992 Winter | 1992 | Winter | Speed Skating        | Speed Skating Women's 1,000 metres                  | nan   | France  | False | France
Albertville | 6    | Per Knut Aaland          | M    | 31   | 188    | 75     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 10 kilometres            | nan   | France  | False | France
Albertville | 6    | Per Knut Aaland          | M    | 31   | 188    | 75     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 50 kilometres            | nan   | France  | False | France
Albertville | 6    | Per Knut Aaland          | M    | 31   | 188    | 75     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 10/15 kilometres Pursuit | nan   | France  | False | France
Albertville | 6    | Per Knut Aaland          | M    | 31   | 188    | 75     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 4 x 10 kilometres Relay  | nan   | France  | False | France
Albertville | 7    | John Aalberg             | M    | 31   | 183    | 72     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 10 kilometres            | nan   | France  | False | France
Albertville | 7    | John Aalberg             | M    | 31   | 183    | 72     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 50 kilometres            | nan   | France  | False | France
Albertville | 7    | John Aalberg             | M    | 31   | 183    | 72     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 10/15 kilometres Pursuit | nan   | France  | False | France
Albertville | 7    | John Aalberg             | M    | 31   | 183    | 72     | United States | USA  | 1992 Winter | 1992 | Winter | Cross Country Skiing | Cross Country Skiing Men's 4 x 10 kilometres Relay  | nan   | France  | False | France
... (48554 rows omitted)

#### Number of athletes when host country (True)
Need intensive variable, Gold/athlete

In [27]:
athletes.pivot('Host','Team').sort('True',descending=True)

Team          | False | True
United States | 2752  | 569
Canada        | 2149  | 441
Japan         | 1705  | 351
Italy         | 1862  | 347
Russia        | 1077  | 317
France        | 1695  | 272
Austria       | 1703  | 251
Norway        | 2080  | 248
Switzerland   | 1760  | 151
Yugoslavia    | 418   | 103
... (211 rows omitted)

In [38]:
athletes_team = athletes.group('Team')
athletes_team

Team           | count
Albania        | 7
Algeria        | 12
American Samoa | 2
Andorra        | 116
Argentina      | 370
Argentina-1    | 7
Argentina-2    | 7
Armenia        | 47
Australia      | 537
Australia-1    | 5
... (211 rows omitted)

In [35]:
medals_team = athletes.pivot('Medal','Team')
medals_team

Team           | Bronze | Gold | Silver | nan
Albania        | 0      | 0    | 0      | 7
Algeria        | 0      | 0    | 0      | 12
American Samoa | 0      | 0    | 0      | 2
Andorra        | 0      | 0    | 0      | 116
Argentina      | 0      | 0    | 0      | 370
Argentina-1    | 0      | 0    | 0      | 7
Argentina-2    | 0      | 0    | 0      | 7
Armenia        | 0      | 0    | 0      | 47
Australia      | 7      | 6    | 3      | 521
Australia-1    | 0      | 0    | 0      | 5
... (211 rows omitted)

In [40]:
athletes = athletes.join('Team',medals_team)

In [41]:
athletes = athletes.join('Team',athletes_team)

In [53]:
athletes = athletes.with_column('Gold_athlete_N',athletes['Gold']/athletes['count']*athletes['Host']).sort('Gold_athlete',descending=True)
athletes.select('Gold_athlete_H')

Gold_athlete_H
0
0
0
0
0
0
0
0
0
0
... (48554 rows omitted)

In [54]:
athletes.pivot('Host','Team','Gold_athlete_H',np.mean).sort('True',descending=True)

Team          | False | True
Canada        | 0     | 0.111583
Norway        | 0     | 0.0648625
Russia        | 0     | 0.0516499
United States | 0     | 0.0424571
Austria       | 0     | 0.0342886
Switzerland   | 0     | 0.0251177
Italy         | 0     | 0.0194658
France        | 0     | 0.0172852
Japan         | 0     | 0.00826848
Albania       | 0     | 0
... (211 rows omitted)

In [55]:
athletes.pivot('Host','Team','Gold_athlete',np.mean).sort('True',descending=True)

Team          | False      | True
Canada        | 0.111583   | 0.111583
Norway        | 0.0648625  | 0.0648625
Russia        | 0.0516499  | 0.0516499
United States | 0.0424571  | 0.0424571
Austria       | 0.0342886  | 0.0342886
Switzerland   | 0.0251177  | 0.0251177
Italy         | 0.0194658  | 0.0194658
France        | 0.0172852  | 0.0172852
Japan         | 0.00826848 | 0.00826848
Albania       | 0          | 0
... (211 rows omitted)

#### Time Trends

9. Plot the trend in number of athletes per year. What is the trend?
<br>Hint: `athletes.group("Year").plot("Year","count")`

10. Plot the number of medals per year. What is the trend? How does this trend compare to that of the medals?

11. Team sports award everyone the same medal. Plot the gold medal trend excluding “Ice Hockey”, why hockey?

12. Plot the yearly trend in number of sports. Think of a strategy to code this. What is the trend?

13. Plot an overlay of gold, silver, and bronze medals as a function of year on the same plot excluding hockey. What is the trend? Are the medals awarded at a similar rate?

14. Compare the US and Norway medal counts as a function of year by overlaying their counts. Hint: You could create separate tables for the US and Norway using an appropriate .where method. Now these tables can be combined using the Table .append method which merges two tables for instance, `NORUSA = US.append(Norway)`.

15. Now use a scatter plot (` .scatter()` ) to look at the number of athletes per year for the US versus that for Norway. What trends do you see?

#### Ideas for future exploration

Data sets are available in this folder for average annual temperature by country, country population, and the highest peak in each country. Furthermore, global warming is exerting pressure on winter sports.  Insert a markdown cell to describe a question you could study in the future (not as part of this mini project). For instance, which countries are likely to have medal winning athletes or the future of winter sports given climate change.

### <font color=blue> **Feedback** </font>

Please include a reflection. 
* How did this mini-project go? 
* Was it difficult to write code without a template?
* Did you seek help from any of the instructors or class assistants?
* Were there questions you found especially challenging you would like your instructor to review in class? 
* How long did the project take you to complete?
  
Share your feedback so we can continue to improve this class!

**Insert a markdown cell below this one and write your reflection on this lab.**

In [ ]:
print("Nice work ", name, user)
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Submitted @ ", localtime)