In [ ]:
url = "https://www-cs-faculty.stanford.edu/~knuth/sgb-words.txt"

In [1]:
import numpy as np
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import os
user = os.getenv('JUPYTERHUB_USER')
from gofer.ok import check

### Wordle itself
The New York Times hosts [Wordle](https://www.nytimes.com/games/wordle/index.html) where a 5 letter word (Wordle) is determined in six or fewer tries using clues about letters contained and letter position. We will use our new knowledge of letter frequency and Knuth's 5 letter words to come up with best letters and words to try.

In [10]:
# Reload Knuth's words in more convenient pandas format
Knuth_url = "https://www-cs-faculty.stanford.edu/~knuth/sgb-words.txt"
# Better to read with pandas
import pandas as pd
words_df = pd.read_csv(Knuth_url, header=None, names=["Words","value","letters"])

In [3]:
words_df

      Words  value  letters
0     which    NaN      NaN
1     there    NaN      NaN
2     their    NaN      NaN
3     about    NaN      NaN
4     would    NaN      NaN
...     ...    ...      ...
5752  osier    NaN      NaN
5753  roble    NaN      NaN
5754  rumba    NaN      NaN
5755  biffy    NaN      NaN
5756  pupal    NaN      NaN

[5757 rows x 3 columns]

In [18]:
words = Table().read_table(Knuth_url, header=None, names=["word"])
words

word
which
there
their
about
would
these
other
words
could
write
... (5747 rows omitted)

Now load our letter frequency, <i>freq</i>, data table from a chosen text and convert to pandas dataframe.

In [ ]:
letters_df = freq.to_df() # Select table from each text above
letters_df

**Question 3.5** Devise a plan to use the collection of letter frequencies and Knuth's five letter words to order the best words to guess for Wordle? Higher letter frequency means more words with the given letter. Describe plan in text markdown only.

#### "Magic" Wordle computation
Takes a while, be patient.
Can you interpret how this code is sorting Knuth's words based on our letter frequencies?

In [15]:
for index, row in words_df.iterrows():
    prob = 0
    letter_set = set()
    for ele in row['Words']:
        letter_set.add(ele)
        temp_df = letters_df[letters_df["frequency"].where(letters_df["letters"] == ele).notnull()]
        temp_df
        prob += temp_df["frequency"].iloc[0]
        words_df.loc[index, ["value"]] = prob
        words_df.loc[index, ["letters"]] = len(letter_set)
        
words_df

NameError: name 'letters_df' is not defined

**Data science Table version**

In [19]:
for index, row in words_df.iterrows():
    prob = 0
    letter_set = set()
    for ele in row['Words']:
        letter_set.add(ele)
        temp_df = letters_df[letters_df["frequency"].where(letters_df["letters"] == ele).notnull()]
        temp_df
        prob += temp_df["frequency"].iloc[0]
        words_df.loc[index, ["value"]] = prob
        words_df.loc[index, ["letters"]] = len(letter_set)
        
words_df

NameError: name 'letters_df' is not defined

In [6]:
url = "data/Oxford_Letter_frequency.csv"
letters = Table().read_table(url, header=None, names=["letters","frequency","count"])
letters

letters | frequency | count
e       | 0.111607  | 56.88
a       | 0.084966  | 43.31
r       | 0.075809  | 38.64
i       | 0.075448  | 38.45
o       | 0.071635  | 36.51
t       | 0.069509  | 35.43
n       | 0.066544  | 33.92
s       | 0.057351  | 29.23
l       | 0.054893  | 27.98
c       | 0.045388  | 23.13
... (16 rows omitted)

In [20]:
score = np.array([])
letter_count = np.array([])
for word in words['word']:
    #print("Word: ", word)
    wscore = 1
    lcount = 0
    for letter in word:
        lcount +=1
        letter_frequency = letters.where('letters',letter)['frequency'][0]
        wscore = wscore*letter_frequency
    score = np.append(score,wscore)
    letter_count= np.append(letter_count, lcount)
score = score*1.0e6
words = words.with_columns("score",score,"letter_count",letter_count)

Four letter words are included now we will select only five letter words.

In [21]:
words.where('letter_count',5).sort('score',descending=True)

word  | score   | letter_count
eerie | 7.95139 | 5
aerie | 6.05336 | 5
eater | 5.57686 | 5
eaten | 4.89529 | 5
erase | 4.6014  | 5
enter | 4.36771 | 5
rente | 4.36771 | 5
tease | 4.21901 | 5
rarer | 4.13142 | 5
airer | 4.11174 | 5
... (5747 rows omitted)

In [ ]:
words_df.where(words_df["letters"]==5.0).sort_values(by='value',ascending=False).dropna()